:root {
--cl-first: rgb(8, 40, 100);
--cl-second: rgb(5, 80, 5);
--cl-third: rgb(128, 21, 56);
--cl-text: rgb(255, 255, 200);
--cl-bg: rgb(231, 231, 231);
--cl-footer: rgb(170, 170, 170);
--cl-bg2: rgb(236, 255, 220);
}

.header {
    background-image: linear-gradient(to right bottom, #06d7c1,#50cc49);
    color: var(--cl-text);
    padding: 2rem;
    text-align: center;
}

h1 {
    font-size: 4rem;
    text-shadow: 1px 3px 6px rgba(1, 38, 14, 0.9),
    -1px -3px 6px rgba(1, 38, 14, 0.9);
}

.buttons {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    margin: 2rem 0;
}

.button {
    border-radius: 15px;
    border: 0;
    display: flex;
}
.button:nth-child(3n+1) {
    background-color: var(--cl-first);

}

.button:nth-child(3n+2) {
    background-color: var(--cl-second);
}

.button:nth-child(3n+3) {
    background-color: var(--cl-third);
}

.button__odkaz {
    color: var(--cl-text);
    padding: 2rem;
    width: 100%;  
}

.footer{
    background-color: silver;
    text-align: center;
    padding: 2rem;
}

.vtip {
    padding: 1rem;
}

.vtip:nth-child(3n+1) {
    background-color: var(--cl-text);
}   

.vtip:nth-child(3n+2) {
    background-color: var(--cl-bg);
}

.vtip:nth-child(3n+3) {
    background-color: var(--cl-bg2);
}

/* ↓↓↓ styly pro menu ↓↓↓ */

.menu__checkbox {
    position: absolute;
    left: -9999px;
  }
  
  .menu__toggler {
    display: block;
    cursor: pointer;
    color: var(--cl-bg);
    background-color: var(--cl-first);
    padding: 1rem;
  }
  
  .menu__toggler:hover {
    background-color: var(--cl-second);
  }
  
  .menu__list {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: var(--cl-first);
  }
  
  .menu__item {
    border-bottom: 1px solid var(--cl-text);
  }
  
  .menu__item--active {
    background-color: var(--cl-second);
  }
  
  .menu__link {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: var(--cl-text);
  }
  
  .menu__link:hover {
    background-color: var(--cl-second);
  }
  
  @media screen and (max-width: 939px) {
    .menu__checkbox:checked ~ .menu__list {
      display: block;
    }
  }
  
  .menu__link img {
    height: 1.2rem;
    
  }
  
  /* ↑↑↑ styly pro menu ↑↑↑ */

@media screen and (min-width:600px) {
    .buttons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 940px) {
    .menu__toggler {
      display: none;
    }
  
    .menu__list {
      display: flex;
  
    }
    
    .menu__item {
      border-bottom: 0;
      border-right: 1px solid var(--cl-bg);
    }
  
    .menu__item:last-child {
      border-right: 0;
    }
  
    .menu__link {
      height: 100%;
    }
  
    .menu__link img {
      padding: 0 2rem;
    }
  }
  

@media screen and (min-width:1000px) {
    .buttons {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }

    .vtipy{
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
        margin: 2rem 0;
    }
    
}